<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>

<title>TPMS - Blank</title>

<body class="fix-header fix-sidebar card-no-border">
<div th:replace="fragment::preloader"></div>
<div id="main-wrapper">
    <header th:replace="fragment::topbar"></header>
    <aside th:replace="fragment::left-sidebar"></aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">更新/添加页面</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">更新/添加页面</li>
                    </ol>
                </div>
                <div th:replace="fragment::logon"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragment::footer"> © 2018 Adminwrap by wrappixe</footer>
    </div>
</div>
<script src="/assets/node_modules/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
</body>

</html>