<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>

<title>TPMS - Curriculum</title>

<body class="fix-header fix-sidebar card-no-border">
<div th:replace="fragment::preloader"></div>
<div id="main-wrapper">
    <header th:replace="fragment::topbar('/curriculum/getCurriculumByPage','按方案名搜索(按下回车即可)')"></header>
    <aside th:replace="fragment::left-sidebar"></aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor" th:text="${curriculumExp==null}?'添加':'更新'+'方案'">更新/添加课程</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active" th:text="${curriculumExp==null}?'添加':'更新'+'方案'">更新/添加课程</li>
                    </ol>
                </div>
                <div th:replace=" fragment::logon
                        ">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="" method="post" action="/curriculum/addOrUpdateCurriculum">
                                <input hidden="hidden" name="type" id="type">
                                <input th:if="${curriculumExp!=null}" hidden="hidden" name="id"
                                       th:value="${curriculumExp!=null?curriculumExp.curr.id:''}">
                                <div class="form-group">
                                    <label class="col-md-12">方案名</label>
                                    <div class="col-md-12">
                                        <input type="text" required="required" name="name"
                                               th:value="${curriculumExp!=null?curriculumExp.curr.name:''}"
                                               class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">年级</label>
                                    <!--<div class="col-md-12">-->
                                    <div style="margin-left: 30%;float: left;">
                                        14:<input type="checkbox" name="grade" value="14"
                                                  th:checked="${curriculumExp!=null&&curriculumExp.curr.grade.contains('14')}">
                                    </div>
                                    <div style="margin-left: 30%;float: left;">
                                        15:<input type="checkbox" name="grade" value="15"
                                                  th:checked="${curriculumExp!=null&&curriculumExp.curr.grade.contains('15')}">
                                    </div>
                                    <!--</div>-->
                                </div>
                                <div class=" form-group">
                                    <label class="col-md-12" style="margin-top: 20px">是否设为当前方案</label>
                                    <div class="col-md-12">
                                        <div style="margin-left: 30%;float: left;">
                                            是:<input required="required" type="radio" name="current" value="1">
                                        </div>
                                        <div style="margin-left: 30%;float: left;">
                                            否:<input required="required" type="radio" name="current" value="0" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class=" form-group">
                                    <label class="col-md-12" style="margin-top: 20px">专业</label>
                                    <div class="col-md-12">
                                        <div style="margin-left: 30%;float: left;">
                                            <input th:each="major:${majors}" required="required" type="radio"
                                                   name="majorId"
                                                   th:checked="${curriculumExp!=null&&curriculumExp.curr.majorId==major.id}"
                                                   th:value="${major.id}" th:text="${major.name}">
                                        </div>
                                    </div>
                                </div>

                                <div class=" form-group">
                                    <label class="col-md-12" style="margin-top: 20px">课程</label>
                                    <div class="col-md-12">
                                        <div style="width: 20%; float: left;" th:each="course:${courses}">
                                            <div th:if="${curriculumExp==null}">
                                                <input type="checkbox" name="courseId" th:id="${course.id}"
                                                       th:value="${course.id}">
                                                <span style="color: #20aee3;"
                                                      th:text="${course.name}"></span>
                                            </div>
                                            <div th:if="${curriculumExp!=null&&curriculumExp.courseIds.contains(course.id)}">
                                                <input type="checkbox" name="courseId" th:id="${course.id}"
                                                       th:value="${course.id}" checked>
                                                <span style="color: #20aee3;"
                                                      th:onclick="|openWindow(${course.id},${curriculumExp.curr.id})|"
                                                      th:text="${course.name}"></span>
                                            </div>
                                            <div th:if="${curriculumExp!=null&&!curriculumExp.courseIds.contains(course.id)}">
                                                <input type="checkbox" name="courseId" th:id="${course.id}"
                                                       th:value="${course.id}">
                                                <span style="color: #20aee3;"
                                                      th:onclick="|openWindow(${course.id},${curriculumExp.curr.id})|"
                                                      th:text="${course.name}"></span>
                                            </div>

                                            <script>
                                                function openWindow(courseId, currId) {
                                                    var elementById = document.getElementById(courseId);
                                                    if (elementById.checked) {
                                                        window.open('/curriculum/setCourseClassHour?courseId=' + courseId + '&curriculumId=' + currId);
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 5%">
                                    <div class="col-sm-12">
                                        <input type="submit" value="提交" class="btn btn-success"
                                               onclick="preDefault(1)">
                                        <input type="submit" value="草稿" class="btn btn-success"
                                               onclick="preDefault(2)">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex m-b-30 no-block">
                                                <h5 class="card-title m-b-0 align-self-center">饼状图</h5>
                                                <div class="ml-auto">
                                                    <span id="change1" style="color: #24d2b5;"
                                                          onclick="changeDraftType(1)">学分</span>
                                                    <span id="change2" onclick="changeDraftType(2)">学时</span>

                                                </div>
                                            </div>
                                            <div id="visitor" style="height:260px; width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function preDefault(type) {
                                        var elementById = document.getElementById('type');
                                        elementById.value = type;
                                        return true;
                                    }

                                    window.onload = function (ev) {
                                        // debugger;
                                        changeDraftType(1);
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragment::footer"> © 2018 Adminwrap by wrappixe</footer>
    </div>
</div>
<script src="../assets/node_modules/jquery/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="../assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="../assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--morris JavaScript -->
<script src="../assets/node_modules/raphael/raphael-min.js"></script>
<script src="../assets/node_modules/morrisjs/morris.min.js"></script>
<!--c3 JavaScript -->
<script src="../assets/node_modules/d3/d3.min.js"></script>
<script src="../assets/node_modules/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/js/dashboard1.js"></script>
</body>
</body>

</html>