<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>

<title>TPMS - Major</title>

<body class="fix-header fix-sidebar card-no-border">
<div th:replace="fragment::preloader"></div>
<div id="main-wrapper">
    <header th:replace="fragment::topbar('/major/getMajorByPage','按专业名搜索(按下回车即可)')"></header>
    <aside th:replace="fragment::left-sidebar"></aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">专业管理</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">专业管理</li>
                    </ol>
                </div>
                <div th:replace="fragment::logon"></div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="float: left;">专业信息</h4>
                            <a th:if="!${session.userExp.user.power<4}" href="/major/addMajorPage"
                               class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"
                               style="margin-right: 5%; margin-bottom: 2%;">添加专业</a>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>专业名</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <div th:if="!${session.userExp.user.power<4}">
                                            <th rowspan="2" style="text-align: center;">操作</th>
                                        </div>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="major,majorStat:${pageDto.elements}">
                                        <td th:text="${majorStat.index+1}">1</td>
                                        <td th:text="${major.name}">软件工程</td>
                                        <td th:text="${#dates.format(major.gmtCreated,'yyyy/MM/dd')}">2012/12/12</td>
                                        <td th:text="${#dates.format(major.gmtModified,'yyyy/MM/dd')}">2012/12/12</td>
                                        <div th:if="!${session.userExp.user.power<4}">
                                            <td><a th:href="@{/major/updateMajorPageById(majorId=${major.id})}">修改</a>
                                            </td>
                                            <td><a th:href=" @{/major/deleteMajorById(majorId=${major.id})}">删除</a></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:if="${message!=null}" class="alert alert-danger" role="alert"
                                     th:text="${message}"></div>
                                <nav th:replace="fragment::changePage"></nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragment::footer"></footer>
    </div>
</div>
<script src="/assets/node_modules/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
<!-- jQuery peity -->
<script src="/assets/node_modules/peity/jquery.peity.min.js"></script>
<script src="/assets/node_modules/peity/jquery.peity.init.js"></script>
</body>

</html>