<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>

<title>TPMS - Users</title>

<body class="fix-header fix-sidebar card-no-border">
<div th:replace="fragment::preloader"></div>
<div id="main-wrapper">
    <header th:replace="fragment::topbar"></header>
    <aside th:replace="fragment::left-sidebar"></aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">用户管理</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">用户管理</li>
                    </ol>
                </div>
                <div th:replace="fragment::logon"></div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="float: left;">用户信息</h4>
                            <a href="/user/addUserPage"
                               class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"
                               style="margin-right: 5%; margin-bottom: 2%;">添加用户</a>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户名</th>
                                        <th>账号</th>
                                        <th>类型</th>
                                        <th rowspan="2" style="text-align: center;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userExp,userStat:${pageDto.elements}">
                                        <td th:text="${userStat.index+1}">1</td>
                                        <td th:text="${userExp.user.name}">@Genelia</td>
                                        <td th:text="${userExp.user.account}">@Genelia</td>
                                        <td th:text="${userExp.title}">@Genelia</td>
                                        <td><a th:href="@{/user/updateUserPageById(userId=${userExp.user.id})}">修改</a>
                                        </td>
                                        <td><a th:href=" @{/user/updateUserById(userId=${userExp.user.id})}">删除</a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <nav th:replace="fragment::changePage"></nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragment::footer"></footer>
    </div>
</div>
<script src="/assets/node_modules/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
<!-- jQuery peity -->
<script src="/assets/node_modules/peity/jquery.peity.min.js"></script>
<script src="/assets/node_modules/peity/jquery.peity.init.js"></script>
</body>

</html>